<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD

<p class="flash"><%=flash.notice %></p>

=======
    <p class="flash"><%=flash.notice %></p>
>>>>>>> 549219116c00636e22f7bef769c643ef6aaf6364
    <%= yield %>
  </body>
</html>
